<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <div id="main">
            <h1>Welcome to the game of Hangman</h1>
            <p>
                This game was made by Karolis Vaitelė for The Odin Project assignment.

            </p>
            <h2>When you are prepared, press the button to begin</h2>
            <br/>
            <form action="/" method=POST>
                <input type="submit" value="Start">
            </form>
        </div>
    </body>
</html>